.header {
  background: $off-black;
  color: rgb(49, 49, 49);
  margin-bottom: $m-size;
  padding: $m-size 0;
 width: 100%;
  
}

.header__title {
  font-size: $l-size;
  margin-bottom: 10px;
 
}

.header__subtitle {
  color: $off-white;
  font-size: $m-size;
  font-weight: 500;
  margin: 0;
}

@media (min-width: $desktop-breakpoint) {
  .header {
    margin-bottom: $xl-size;
  }
}
